
  html
  {
    background-color: whitesmoke;
  }

  .bg {
    background-color: whitesmoke;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Other shits */
    color: #f64c66;
    font-family: 'Lato', sans-serif;
  }

  .bg .navbar {
    margin-top: 2%;
  }

  .bg .navbar-brand {
    color: rgb(92, 92, 92);
    font-size: large;
    font-weight: 900;
    font-style: bold;
  }
    
  .bg .nav li a {
    color: rgb(92, 92, 92);
  }

  .bg .infoadj {
    margin-top: 12%;
  }

  .bg .infoadj h1{
    font-weight: 800;
  }

  .bg .infoadj p{
    font-size: larger;
    color: lightgray;
  }

  .bg .infoadj a {
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 12px 22px;
    color: white;
    background: #c43140;
  }

  .bg .infoadj a:hover {
    background: #d93850;
  }

  .bg .btn-custom {
    margin-top: 3%;
    margin-left: 50%;
    transform: translateX(-50%);
    font-family: Lato;
    font-size: larger;
    color: #d93850;
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid #d93850;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.10);
    padding: 12px 26px;
    transition: all 0.3s ease 0s;
  }

  .bg .btn-custom:hover {
    background: #d93850;
    color: white;
  }
  
  .form-container {
    font-family: Lato;
    background: whitesmoke;
    border-radius: 18px; 
    padding: 80px 60px 80px;
    margin-top: 20vh;
    box-shadow: 6px 6px 22px -4px rgba(0,0,0,0.59);
  }
  
  .form-container .btn-login {
    margin-top: 0%;
    font-family: Lato;
    color: white;
    letter-spacing: 1px;
    line-height: 20px;
    border: 2px solid white;
    border-radius: 24px;
    background: #d93850;
    padding: 12px 26px;
    transition: all 0.3s ease 0s;
  }

  .form-container .btn-login:hover {
    background: #ff526c;
    color: white;
  }

  .loginHeader{
    padding: 0px 0px 30px;
    font-weight: 900;
    font-style: black;
    font-size: 32px;
  }

  .form-container .form-label{
    margin-bottom: 1px;
  }
  .form-container .form-control{
    border: 1px solid rgb(187, 187, 187);
    background: rgb(235, 235, 235);
    border-radius: 18px;
  }

  .bg .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
   
    height: 40%;
 
  }

  @media screen and (min-width: 768px)
{
  .bg .logo
  {
    height: 50%;
  } 
  html { overflow-y: hidden; }

}

