body, html {
    position: fixed; 
    width: 100%;
    height: 100%;
    background-color: #231f20 !important;
    font-family: 'Lato', sans-serif;
  }

.navbar {
    font-family: 'Lato', sans-serif;
    min-height: 80px;
    border-bottom-left-radius:18px; 
    border-bottom-right-radius:18px;
    border-top-left-radius:18px;
    border-top-right-radius:18px;

    margin: 0.5%;
}

.navbar a {
  color: #fff;
  position: relative;
}

.navbar a:hover{
  color: #fff;
}

.navbar a:after {    
  bottom: 1.2;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.2s ease 0s, left 0.2s ease 0s;
  width: 0;
}

.navbar a:hover:after { 
  color: #fff;
  width: 100%; 
  left: 0; 
}

.navbar-nav > li{
  margin-left:24px;
  margin-right:24px;
}

.form-container {
  font-family: Lato;
  background: whitesmoke;
  border-radius: 18px; 
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 35%;
  padding-top: 1%;
  margin-top: 0.1%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  box-shadow: 6px 6px 22px -4px rgba(0,0,0,0.59);
}

  .search {
    width: 650px;
    position: absolute;
    display: flex;
    margin-left: -40px;
  }
  
  .searchTerm {
    width: 60%;
    border: 3px solid #231f20;
    border-right: none;
    padding: 10px;
    border-radius: 20px 0 0 20px;
    outline: none;
    color: #231f20;
  }
  
  .searchTerm:focus{
    color: #231f20;
  }
  
  .searchButton {
    width: 60px;
    border: 1px solid #231f20;
    background: #231f20;
    text-align: center;
    color: #fff;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-size: 15px;
  }
  
  .form-container .btn-custom {
    font-family: Lato;
    color: white;
    letter-spacing: 1px;
    line-height: 30px;
    border: 2px solid white;
    border-radius: 26px;
    background: #231f20;
    padding: 10px 28px;
    margin-left: 5px;
    transition: all 0.3s ease 0s;
  }

  .form-container .btn-custom:hover {
    background: #ff526c;
    color: white;
  }


  #table-wrapper {
    position:relative;
    margin-left: 3%;
    margin-right: 3%;
  }
  #table-scroll {
    height:70vh;
    overflow:auto;  
    margin-top:20px;
  }
  #table-wrapper table {
    width:100%;
  }

  #table-wrapper table thead th .text {
    position:absolute;   
    top:-20px;
    z-index:2;
    height:20px;
  }

 